.logged-in.admin-bar {
  .navbar {
    top: 42px;
  }
}
.navbar {
  position: fixed;
}
#primary-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  @include max-991 {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .menu-item {
    @include max-991 {
      min-height: 46px;
    }
    &.current_page_item {
      a {
        color: $white;
        @include max-991 {
          color: $top-menu-gray-mobile-active;
        }
      }
    }
    a {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.87em;
      padding-left: 1.125rem;
      padding-right: 1.125rem;
      color: $top-menu-gray;
      transition: .2s linear;
      @include max-991 {
        color: $top-menu-gray-mobile;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 0.95rem;
        text-transform: none;
        line-height: 25px;
      }
      &:hover {
        color: $white;
        @include max-991 {
          color: $top-menu-gray-mobile-active;
        }
      }
    }
  }
}

.footer-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      a {
        padding: 8px 17px;
        color: $white!important;
      }
    }
  }
}

#cookie-notice {
  background-image: linear-gradient(to right, rgb(36, 59, 85), rgb(20, 30, 48))!important;
  border-top: 1px solid rgba(255,255,255,.3);
  -webkit-box-shadow: 0px 0px 12px 5px rgba(36, 59, 85,0.75);
  -moz-box-shadow: 0px 0px 12px 5px rgba(36, 59, 85,0.75);
  box-shadow: 0px 0px 12px 5px rgba(36, 59, 85,0.75);
  .cn-button.bootstrap {
    padding: 7px 32px 6px;
    font-size: 12px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    border-radius: 10rem;
    outline: 0;
    transition: .15s linear;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
    &:hover {
      color: #757575;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
      -webkit-box-shadow: 0 1px 10px rgba(248,249,250,.4);
      box-shadow: 0 1px 10px rgba(248,249,250,.4);
      background-image: none;
    }
  }
}
